<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.decisionanalysis.project.modules.law.mapper.LawMapper">

    <resultMap type="LawEntity" id="law">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="areaName" column="region"/>
        <result property="publishDate" column="publish_date"/>
        <result property="keyWords" column="keyWords"/>
        <result property="similarity" column="similarity"/>
        <result property="rank" column="rank"/>
    </resultMap>

    <resultMap type="LawAllEntity" id="lawAll">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="region" column="region"/>
        <result property="publishDate" column="publish_date"/>
        <result property="rcKeyWords" column="rc_key_words"/>
        <result property="cxKeyWords" column="cx_key_words"/>
        <result property="cyKeyWords" column="cy_key_words"/>
        <result property="similarity" column="similarity"/>
        <result property="rank" column="rank"/>
    </resultMap>


    <select id="selectLawList" parameterType="Map" resultMap="law">
        SELECT * from (
        SELECT
        b.id,
        b.title,
        DATE_FORMAT(b.publish_date, '%Y-%m-%d') as 'publish_date',
        <if test="bigType == 'rc'">
            b.rc_key_words as 'keyWords',
        </if>
        <if test="bigType == 'cx'">
            b.cx_key_words as 'keyWords',
        </if>
        <if test="bigType == 'cy'">
            b.cy_key_words as 'keyWords',
        </if>
        b.rc_key_words,
        b.region,
        b.rank,
        <if test="bigType == 'rc' and (type == null or type == '')">
            a.rencai as 'similarity'
        </if>
        <if test="type == 'support'">
            a.support as 'similarity'
        </if>
        <if test="type == 'officeAllowance'">
            a.office_allowance as 'similarity'
        </if>
        <if test="type == 'dailyAllowance'">
            a.daily_allowance as 'similarity'
        </if>
        <if test="type == 'recruitment'">
            a.recruitment as 'similarity'
        </if>
        <if test="type == 'remuneration'">
            a.remuneration as 'similarity'
        </if>

        <if test="bigType == 'cx' and (type == null or type == '')">
            a.innovation as 'similarity'
        </if>
        <if test="type == 'developSubsidy'">
            a.develop_subsidy as 'similarity'
        </if>
        <if test="type == 'industry'">
            a.industry as 'similarity'
        </if>
        <if test="type == 'service'">
            a.service as 'similarity'
        </if>
        <if test="type == 'manufacturing'">
            a.manufacturing as 'similarity'
        </if>
        <if test="type == 'revenue'">
            a.revenue as 'similarity'
        </if>
        <if test="type == 'landPrice'">
            a.land_price as 'similarity'
        </if>
        <if test="type == 'rental'">
            a.rental as 'similarity'
        </if>
        <if test="bigType == 'cy' and (type == null or type == '')">
            a.domain as 'similarity'
        </if>
        FROM
        <if test="bigType == 'rc'">
            rc_feature_dict_dd a
        </if>
        <if test="bigType == 'cx'">
            cx_feature_dict_dd a
        </if>
        <if test="bigType == 'cy'">
            cy_feature_dict_dd a
        </if>
        LEFT JOIN policy_dd b ON


        a.file_id = b.id

        WHERE 1=1
        <if test="bigType == 'rc' and (type == null or type == '')">
            and a.rencai > 0
        </if>
        <if test="type == 'support'">
            and a.support >0
        </if>
        <if test="type == 'officeAllowance'">
            and a.office_allowance >0
        </if>
        <if test="type == 'dailyAllowance'">
            and a.daily_allowance >0
        </if>
        <if test="type == 'recruitment'">
            and a.recruitment >0
        </if>
        <if test="type == 'remuneration'">
            and a.remuneration >0
        </if>

        <if test="bigType == 'cx' and (type == null or type == '')">
            and a.innovation > 0
        </if>
        <if test="type == 'developSubsidy'">
            and a.develop_subsidy >0
        </if>
        <if test="type == 'industry'">
            and a.industry >0
        </if>
        <if test="type == 'service'">
            and a.service >0
        </if>
        <if test="type == 'manufacturing'">
            and a.manufacturing >0
        </if>
        <if test="type == 'revenue'">
            and a.revenue >0
        </if>
        <if test="type == 'landPrice'">
            and a.land_price >0
        </if>
        <if test="type == 'rental'">
            and a.rental >0
        </if>
        <if test="bigType == 'cy' and (type == null or type == '')">
            and a.domain > 0
        </if>


        <if test="orderBy == 'date'">
            order by b.publish_date desc
        </if>
        <if test="orderBy == 'similarity'">
            order by
            <if test="bigType == 'rc' and (type == null or type == '')">a.rencai
            </if>
            <if test="type == 'support'">
                a.support
            </if>
            <if test="type == 'officeAllowance'">
                a.
                office_allowance
            </if>
            <if test="type == 'dailyAllowance'">
                a.daily_allowance
            </if>
            <if test="type == 'recruitment'">
                a.recruitment
            </if>
            <if test="type == 'remuneration'">
                a.remuneration
            </if>

            <if test="bigType == 'cx' and (type == null or type == '')">
                a.innovation
            </if>
            <if test="type == 'developSubsidy'">
                a.develop_subsidy
            </if>
            <if test="type == 'industry'">
                a.industry
            </if>
            <if test="type == 'service'">
                a.service
            </if>
            <if test="type == 'manufacturing'">
                a.manufacturing
            </if>
            <if test="type == 'revenue'">
                a.revenue
            </if>
            <if test="type == 'landPrice'">
                a.land_price
            </if>
            <if test="type == 'rental'">
                a.rental
            </if>
            <if test="bigType == 'cy' and (type == null or type == '')">
                a.domain
            </if>
            desc
        </if>
        ) bb
        where 1=1
        <if test="areaName != null and areaName != ''">
            and bb.region like concat('%',#{areaName},'%')
        </if>
        <if test="title != null and title != ''">
            and bb.title like concat('%',#{title},'%')
        </if>
    </select>

    <select id="selectTitleAndPathAndKeyById" parameterType="Map" resultType="Map">
        select
        a.title,
        a.body_path,
        concat(a.rc_key_words,',',a.cx_key_words,',',a.cy_key_words) as 'keyWords'
        ,a.url
        from policy_dd a
        where a.id = #{id}
    </select>

    <select id="selectLawListByDynamic" parameterType="Map" resultMap="law" statementType="STATEMENT">
        SELECT
        b.${keyColumn} as 'keyWords'
        ,b.title
        ,a.region
        ,b.rank
        ,b.publish_date
        ,a.${similarityColumn} as 'similarity'
        ,b.id
        FROM ${tableName} a
        left join policy_dd b on a.file_id = b.id
        where a.${similarityColumn} > 0
        <if test="orderByType == 'date' or orderByType == '' or orderByType == null">
            order by b.publish_date desc
        </if>
        <if test="orderByType == 'similarity'">
            order by a.${similarityColumn} desc
        </if>
        limit 6
    </select>

    <select id="selectAllListByDynamic" parameterType="Map" resultMap="lawAll" statementType="STATEMENT">
select tt.* from (
        SELECT
        a.id
        ,a.title
        ,a.region
        ,a.cx_key_words
        ,a.cy_key_words
        ,a.rc_key_words
        ,a.rank
        ,a.publish_date
        <if test="type == 'rc'">
            ,rc.${similarityColumn} as 'similarity'
        </if>
        <if test="type == 'cx'">
            ,cx.${similarityColumn} as 'similarity'
        </if>
        <if test="type == 'cy'">
            ,cy.${similarityColumn} as 'similarity'
        </if>
        <if test="type == '' or type == null">
            ,0.0 as 'similarity'
        </if>

        FROM policy_dd a
        LEFT JOIN cx_feature_dict_dd cx ON a.id = cx.file_id
        LEFT JOIN cy_feature_dict_dd cy ON a.id = cy.file_id
        LEFT JOIN rc_feature_dict_dd rc ON a.id = rc.file_id
        where 1=1
        <if test="type == 'rc'">
            and rc.${similarityColumn} > 0
        </if>
        <if test="type == 'cx'">
            and cx.${similarityColumn} > 0
        </if>
        <if test="type == 'cy'">
            and cy.${similarityColumn} > 0
        </if>
        <if test="region != null and region != ''">
            and a.region like concat('%',${region},'%')
        </if>
        <if test="title != null and title != ''">
            and a.title like concat('%',${title},'%')
        </if>
        <if test="startDate != null and startDate !=''">
            and a.publish_date >= ${startDate}
        </if>
        <if test="endDate != null and endDate !=''">
            and a.publish_date &lt;= ${endDate}
        </if>
        ) tt
        <if test="orderByType == 'date' or orderByType == '' or orderByType == null">
            order by tt.publish_date desc
        </if>
        <if test="orderByType == 'similarity'">
            order by tt.similarity desc
        </if>
        Limit ${pageStart}, ${pageSize}
    </select>

    <select id="selectAllListByDynamicTotal" parameterType="Map" resultType="int" statementType="STATEMENT">
        select count(1) from (
        SELECT
        a.id
        ,a.title
        ,a.region
        ,a.cx_key_words
        ,a.cy_key_words
        ,a.rc_key_words
        ,a.rank
        ,a.publish_date
        <if test="type == 'rc'">
            ,rc.${similarityColumn} as 'similarity'
        </if>
        <if test="type == 'cx'">
            ,cx.${similarityColumn} as 'similarity'
        </if>
        <if test="type == 'cy'">
            ,cy.${similarityColumn} as 'similarity'
        </if>
        <if test="type == '' or type == null">
            ,0.0 as 'similarity'
        </if>

        FROM policy_dd a
        LEFT JOIN cx_feature_dict_dd cx ON a.id = cx.file_id
        LEFT JOIN cy_feature_dict_dd cy ON a.id = cy.file_id
        LEFT JOIN rc_feature_dict_dd rc ON a.id = rc.file_id
        where 1=1
        <if test="type == 'rc'">
            and rc.${similarityColumn} > 0
        </if>
        <if test="type == 'cx'">
            and cx.${similarityColumn} > 0
        </if>
        <if test="type == 'cy'">
            and cy.${similarityColumn} > 0
        </if>
        <if test="region != null and region != ''">
            and a.region like concat('%',${region},'%')
        </if>
        <if test="title != null and title != ''">
            and a.title like concat('%',${title},'%')
        </if>
        <if test="startDate != null and startDate !=''">
            and a.publish_date >= ${startDate}
        </if>
        <if test="endDate != null and endDate !=''">
            and a.publish_date &lt;= ${endDate}
        </if>
        ) tt
        <if test="orderByType == 'date' or orderByType == '' or orderByType == null">
            order by tt.publish_date desc
        </if>
        <if test="orderByType == 'similarity'">
            order by tt.similarity desc
        </if>
    </select>

</mapper>