<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/layui2.4.3/css/layui.css" th:href="@{/layui2.4.3/css/layui.css}" rel="stylesheet"/>
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <!--<link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>-->
    <!--<link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>-->
    <!--<link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>-->
	<style>
		.button-primary.active{
			color: #0d2f47;
		}
	</style>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script>
        function addTabByChild(url, index, name) {
            window.parent.window.menuItemByChild(url, index, name, true);
            // window.parent.window.menuItemByChild("/one/showOne", "1", "余姚市安全生产监督管理局行政处罚决定书送达公告", true);
        }

        var divArr = [0,1,2];
        $(function () {
            $("#data1").hide()
            $("#data2").hide()

            $('.layui-col-md12 .button-3d').click(function(){
                console.log("$(this).index()"+$(this).index())
				var buttonIndex = $(this).index();
                $(this).addClass('active').siblings('.button-3d').removeClass('active')
				$.each(divArr, function (item, index) {
                    console.log("item" + item);
                    console.log("index" + index);
                    console.log("$(this).index()"+$(this).index())
					if (index == buttonIndex) {
					    console.log("123132")
                        $("#data"+buttonIndex).show()
					} else {
                        console.log("12313111112")
                        $("#data"+index).hide()
					}
                })


                // myChart.setOption(optionArr[$(this).index()], true);
            })
        })

	</script>
</head>

<body>
<div class="layui-col-md12" style="padding: 20px; background-color: #F2F2F2;">
	<button id="one" class="button button-3d button-primary button-rounded active">
		人才</button>
	<button id="two" class="button button-3d button-primary button-rounded">
		科技创新</button>
	<button id="three" class="button button-3d button-primary button-rounded">
		产业</button>
</div>

<div id="data0" style="padding: 20px; background-color: #F2F2F2;">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header"><span style="font-weight: bold">创业扶持</span><a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body">
					<table lay-skin="line" lay-even="true" class="layui-table" lay-filter="demo">
						<thead>
						<tr>
							<th width="60%" lay-data="{field:'username', width:200}">标题</th>
							<th width="15%" lay-data="{field:'experience', width:80, sort:true}">区域</th>
							<th width="25%" lay-data="{field:'sign', width:80}">时间</th>
						</tr>
						</thead>
						<tbody>
						<tr style="font-weight: bold">
							<td><a href="#" onclick="addTabByChild('/one/showOne', '1', '余姚市安全生产监督管理局行政处罚决定书送达公告')">余姚市安全生产监督管理局行政处罚决定书送达公告</a></td>
							<td>余姚</td>
							<td>2018-10-31</td>
						</tr>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-30</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">办公补贴<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body">
					<table lay-skin="line" lay-even="true" class="layui-table" lay-filter="demo">
						<thead>
						<tr>
							<th width="60%" lay-data="{field:'username', width:200}">标题</th>
							<th width="15%" lay-data="{field:'experience', width:80, sort:true}">区域</th>
							<th width="25%" lay-data="{field:'sign', width:80}">时间</th>
						</tr>
						</thead>
						<tbody>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-31</td>
						</tr>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-30</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">生活津贴<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body">
					<table lay-skin="line" lay-even="true" class="layui-table" lay-filter="demo">
						<thead>
						<tr>
							<th width="60%" lay-data="{field:'username', width:200}">标题</th>
							<th width="15%" lay-data="{field:'experience', width:80, sort:true}">区域</th>
							<th width="25%" lay-data="{field:'sign', width:80}">时间</th>
						</tr>
						</thead>
						<tbody>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-31</td>
						</tr>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-30</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">人才招聘<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body">
					<table lay-skin="line" lay-even="true" class="layui-table" lay-filter="demo">
						<thead>
						<tr>
							<th width="60%" lay-data="{field:'username', width:200}">标题</th>
							<th width="15%" lay-data="{field:'experience', width:80, sort:true}">区域</th>
							<th width="25%" lay-data="{field:'sign', width:80}">时间</th>
						</tr>
						</thead>
						<tbody>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-31</td>
						</tr>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-30</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">薪金补助<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body">
					<table lay-skin="line" lay-even="true" class="layui-table" lay-filter="demo">
						<thead>
						<tr>
							<th width="60%" lay-data="{field:'username', width:200}">标题</th>
							<th width="15%" lay-data="{field:'experience', width:80, sort:true}">区域</th>
							<th width="25%" lay-data="{field:'sign', width:80}">时间</th>
						</tr>
						</thead>
						<tbody>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-31</td>
						</tr>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-30</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="data1" style="padding: 20px; background-color: #F2F2F2;">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header">研发补助<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body">
					<table lay-skin="line" lay-even="true" class="layui-table" lay-filter="demo">
						<thead>
						<tr>
							<th width="60%" lay-data="{field:'username', width:200}">标题</th>
							<th width="15%" lay-data="{field:'experience', width:80, sort:true}">区域</th>
							<th width="25%" lay-data="{field:'sign', width:80}">时间</th>
						</tr>
						</thead>
						<tbody>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-31</td>
						</tr>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-30</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="data2" style="padding: 20px; background-color: #F2F2F2;">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">工业<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body">
					<table lay-skin="line" lay-even="true" class="layui-table" lay-filter="demo">
						<thead>
						<tr>
							<th width="60%" lay-data="{field:'username', width:200}">标题</th>
							<th width="15%" lay-data="{field:'experience', width:80, sort:true}">区域</th>
							<th width="25%" lay-data="{field:'sign', width:80}">时间</th>
						</tr>
						</thead>
						<tbody>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-31</td>
						</tr>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-30</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">服务业<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body" onclick="addTabByChild()">
					<table lay-skin="line" lay-even="true" class="layui-table" lay-filter="demo">
						<thead>
						<tr>
							<th width="60%" lay-data="{field:'username', width:200}">标题</th>
							<th width="15%" lay-data="{field:'experience', width:80, sort:true}">区域</th>
							<th width="25%" lay-data="{field:'sign', width:80}">时间</th>
						</tr>
						</thead>
						<tbody>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-31</td>
						</tr>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-30</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">高端制造<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body">
					<table lay-skin="line" lay-even="true" class="layui-table" lay-filter="demo">
						<thead>
						<tr>
							<th width="60%" lay-data="{field:'username', width:200}">标题</th>
							<th width="15%" lay-data="{field:'experience', width:80, sort:true}">区域</th>
							<th width="25%" lay-data="{field:'sign', width:80}">时间</th>
						</tr>
						</thead>
						<tbody>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-31</td>
						</tr>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-30</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">税收<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body">
					<table lay-skin="line" lay-even="true" class="layui-table" lay-filter="demo">
						<thead>
						<tr>
							<th width="60%" lay-data="{field:'username', width:200}">标题</th>
							<th width="15%" lay-data="{field:'experience', width:80, sort:true}">区域</th>
							<th width="25%" lay-data="{field:'sign', width:80}">时间</th>
						</tr>
						</thead>
						<tbody>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-31</td>
						</tr>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-30</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">地价<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body">
					<table lay-skin="line" lay-even="true" class="layui-table" lay-filter="demo">
						<thead>
						<tr>
							<th width="60%" lay-data="{field:'username', width:200}">标题</th>
							<th width="15%" lay-data="{field:'experience', width:80, sort:true}">区域</th>
							<th width="25%" lay-data="{field:'sign', width:80}">时间</th>
						</tr>
						</thead>
						<tbody>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-31</td>
						</tr>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-30</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">租金<a href="#" style="margin-left: 75%" onclick="addTabByChild('/law/toList','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body">
					<table lay-skin="line" lay-even="true" class="layui-table" lay-filter="demo">
						<thead>
						<tr>
							<th width="60%" lay-data="{field:'username', width:200}">标题</th>
							<th width="15%" lay-data="{field:'experience', width:80, sort:true}">区域</th>
							<th width="25%" lay-data="{field:'sign', width:80}">时间</th>
						</tr>
						</thead>
						<tbody>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-31</td>
						</tr>
						<tr style="font-weight: bold">
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-30</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						<tr>
							<td>康复有补贴，浙江出台意见减轻这类家庭负担</td>
							<td>上虞</td>
							<td>2018-10-25</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script th:src="@{/layui2.4.3/layui.all.js}"></script>
</body>
</html>
