<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/layui2.4.3/css/layui.css" th:href="@{/layui2.4.3/css/layui.css}" rel="stylesheet"/>
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <!--<link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>-->
    <!--<link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>-->
    <!--<link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>-->
	<style>
		.button-primary.active{
			color: #0d2f47;
		}
	</style>
	<script th:src="@{/js/jquery.min.js}"></script>
</head>

<body>
<div class="layui-col-md12" style="padding: 20px; background-color: #F2F2F2;">
	<button id="one" class="button button-3d button-primary button-rounded active">
		人才</button>
	<button id="two" class="button button-3d button-primary button-rounded">
		科技创新</button>
	<button id="three" class="button button-3d button-primary button-rounded">
		产业</button>
</div>

<div id="data0" style="padding: 20px; background-color: #F2F2F2;">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header"><span style="font-weight: bold">创业扶持</span><a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList?bigType=rc&type=support','1','创业扶持')">更多>></a></div>
				<div class="layui-card-body">
					<table id="start" lay-filter="start">

					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">办公补贴<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList?bigType=rc&type=officeAllowance','2','办公补贴')">更多>></a></div>
				<div class="layui-card-body">
					<table id="office" lay-filter="office">

					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">生活津贴<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList?bigType=rc&type=dailyAllowance','3','生活津贴')">更多>></a></div>
				<div class="layui-card-body">
					<table id="live" lay-filter="live">

					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">人才招聘<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList?bigType=rc&type=recruitment','4','人才招聘')">更多>></a></div>
				<div class="layui-card-body">
					<table id="talent" lay-filter="talent">
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">薪金补助<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList?bigType=rc&type=remuneration','5','薪金补助')">更多>></a></div>
				<div class="layui-card-body">
					<table id="salary" lay-filter="salary">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="data1" style="padding: 20px; background-color: #F2F2F2;">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header">研发补助<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList?bigType=cx&type=developSubsidy','6','研发补助')">更多>></a></div>
				<div class="layui-card-body">
					<table id="research" lay-filter="research">

					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="data2" style="padding: 20px; background-color: #F2F2F2;">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">工业<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList?bigType=cy&type=industry','1','产业')">更多>></a></div>
				<div class="layui-card-body">
					<table id="industrial" lay-filter="industrial">
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">服务业<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList?bigType=cy&type=service','1','产业')">更多>></a></div>
				<div class="layui-card-body" onclick="addTabByChild()">
					<table id="service" lay-filter="service">
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">高端制造<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList?bigType=cy&type=manufacturing','1','产业')">更多>></a></div>
				<div class="layui-card-body">
					<table id="highEnd" lay-filter="highEnd">

					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">税收<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList?bigType=cy&type=revenue','1','产业')">更多>></a></div>
				<div class="layui-card-body">
					<table id="tax" lay-filter="tax">
					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">地价<a href="#" style="margin-left: 75%;" onclick="addTabByChild('/law/toList?bigType=cy&type=landPrice','1','产业')">更多>></a></div>
				<div class="layui-card-body">
					<table id="landPrice" lay-filter="landPrice">

					</table>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">租金<a href="#" style="margin-left: 75%" onclick="addTabByChild('/law/toList?bigType=cy&type=rental','1','产业')">更多>></a></div>
				<div class="layui-card-body">
					<table id="rent" lay-filter="rent">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script th:src="@{/layui2.4.3/layui.all.js}"></script>
<script th:src="@{/ruoyi/js/main.js}"></script>
</body>
</html>
