<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/layui2.4.3/css/layui.css" th:href="@{/layui2.4.3/css/layui.css}" rel="stylesheet"/>
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <!--<link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>-->
    <!--<link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>-->
    <!--<link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>-->
	<style>
		.button-primary.active{
			color: #0d2f47;
		}
	</style>
	<script th:src="@{/js/jquery.min.js}"></script>
</head>

<body>
<div class="layui-col-md12" style="padding: 20px; background-color: #F2F2F2;">
	<button id="one" class="button button-3d button-primary button-rounded active">
		人才</button>
	<button id="two" class="button button-3d button-primary button-rounded">
		资奖励</button>
	<button id="three" class="button button-3d button-primary button-rounded">
		产业</button>
</div>

<div id="data0" style="padding: 20px; background-color: #F2F2F2;">
	<div id="rc" class="layui-row layui-col-space15">

	</div>
</div>

<div id="data1" style="padding: 20px; background-color: #F2F2F2;">
	<div id="cx" class="layui-row layui-col-space15">

	</div>
</div>

<div id="data2" style="padding: 20px; background-color: #F2F2F2;">
	<div id="cy" class="layui-row layui-col-space15">

	</div>
</div>

<script th:src="@{/layui2.4.3/layui.all.js}"></script>
<script th:src="@{/ruoyi/js/main.js}"></script>
</body>
</html>
